body {
  background-color: #e2f2f0;
  color: #7a7a85;
}
img {
  width: 100%;
  height: auto;
}
figcaption {
  font-size: .75em;
}
.container {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto);
  grid-gap: 25px;
  grid-template-areas:
  "tl"
  "md"
  "main"
  "sd"
  "ft";
}

.box {
  border: 1px solid #b8aae6;
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#title {
  grid-area: tl;
}
#media {
  grid-area: md;
  align-items: center;
}
#media ul li {
  display: inline-block;
}
#main {
  grid-area: main;
}
.post {
  border: 1px solid #4461bb;
  padding: 10px;
}
.post h3 {
  text-decoration: underline;
}
#sidebar {
  grid-area: sd;
  flex-direction: column;
}
.section {
  border: 1px solid #4461bb;
  padding: 15px;
  margin: 10px;
  display: flex;
}
#footer {
  grid-area: ft;
}

@media(min-width:900px) {
  .container {
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-gap: 25px;
    grid-template-areas:
    "tl tl md md"
    "main main main sd"
    "ft ft ft ft";
  }
  .box {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}
