body {
  background-color: #fcfcfb;
  color: #241f21;
}
img {
  max-width: 80%;
  height: auto;

}
figcaption {
  font-size: .75em;
}

h1 {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}
p, figcaption {
  font-family: 'Roboto', sans-serif;
}
.author {
  font-size: .75em;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  margin: auto;
  /*border: 1px solid purple;*/
}
.box {
  /*border: 1px solid #7a7a85;*/
  margin: 10px;
  padding: 10px;
}
.area, .post, ul li {
  /*border: 1px solid blue;*/
  margin: 5px;
}
ul li {
  list-style: none;
}
header {
  text-align: center;
  border-bottom: 2px solid gray;
}
#sidebar, footer {
  display:flex;
  justify-content: space-around;
  text-align: center;
}
#sidebar img {
  width: 50%;
  height: auto;
}
#sidebar ul li {
  display: inline-block;
}
footer {
  border-top: 2px solid gray;
}
