@media (min-width:900px) {
  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  /**HEADER**/

  header {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .area, .post, #sidebar {
    width: 100%;
    height: auto;
  }
  #title {
    text-align: center;
  }
  #nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  #nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /**MAIN**/

  #main {
    grid-column-start:1;
    grid-column-end: 4;
  }

  /**SIDEBAR**/

  #sidebar {
    grid-column-start: 4;
  }
  #sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

  /**FOOTER**/

  footer {
    grid-column-start:1;
    grid-column-end:5;
  }
}
